@{
    ViewData["Title"] = "Home Page";
}

<h1>Cookie Authentication</h1>
@*<br/>
<a asp-action="LogIn">LogIn</a>
<br />
<a asp-controller="LeadSources" asp-action="Index">Index Page</a>*@

@*<form asp-controller="Home" asp-action="LogIn">
    <button class="btn btn-light">Login</button>
</form>*@
<p>Login to access the LeadSource Page...</p>
<a asp-controller="LeadSources" asp-action="Index">Lead Sources</a>