<h1>Cookie Authentication Login</h1>
<br/>
<form method="post">
    <input type="text" name="username" placeholder="Enter Username" />
    <br/>
    <input type="password" name="password" placeholder="Enter Password" />
    <br/>
    <button>Log In</button>
</form>