<h1>Home LogIn</h1>
<form asp-controller="LeadSources" asp-action="LogIn" method="post">
    <input type="text" name="UserName"/>
    <input type="password" name="Password"/>
    <button>Log In</button>     
</form>